.App {
  text-align: center;
}

.bg{
  /* background-image: url('./img/bg1.jpg');   no-repeat center center fixed */
  background: url('./img/esgrownbanner.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  /* width: 100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login Button */
.btn_submit{
  height: 40px;
  width: 100%;
  border-radius: 6px;
  color: #FFFFFF;
  /* margin-top: 30px; */
  text-align: center;
  /* 53a6e7 linear-gradient(268.61deg, #1A1CF8 27.36%, #0EB3F3 77.37%) */
  background-color: #53a6e7;
  border-color: #53a6e7;
  opacity: 1;
  }

  /* individual */
  .ind-bg{
     background: url('./img/banner.jpg');
    background-size: cover;
  }
  .home-font{
    font-family: 'quicksand';
  }

  /* sidebar */
.sidebar{
  height: auto;
  /* border-left: 0.5px solid grey;
  border-color: rgb(0,0,0,0.1); */
  width:100%
  
  /* opacity: 0.6; */
}

.sid{
  border-right: 0.5px solid grey;
  border-color: rgb(0,0,0,0.1);
  height: 100vh;
}

.terms{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;


}
.text{
  height: '60%';
  width: '100%'; 
  text-align: justify;
  padding: 15px;
  /* box-shadow: 1px 1px 0px 1px rgb(0,0,0,0.5); */
  border: 1px solid #E9E9E9;
  font-family: 'quicksand';
  font-size: 15px;
  border-radius: 6px;
  text-align: justify;
  opacity: 0.8;
}

/* profile image upload */
.image-upload>input {
  display: none;
}

.image {
  background: url('img/icons.jpg') no-repeat center center;
  background-size: cover;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  object-fit: cover;
  
  /* height: 65%; */

}

.overlay{
  background-color: #282c34;
  opacity: 0.5;
  height: auto;
  border-radius: 4px;
}

/* eas service image */
.eas-image{
background-size: center center cover;
width:80%;
height:40%;
}

/* footer */
.footer{
  height: 40px;
  background-color: black;
  color: white;
  font-family: quicksand;
  font-size: small;
  font-style: normal;
}
.corp-act-page:hover{
  box-shadow: 1px 5px 5px 3px grey;


}
.corp-act-page-border{
  border: 1px  #E68723
}

